body {
  font-family: "Montserrat", sans-serif;
}
.container {
  max-width: 1440px;
  margin: 0 120px;
}
section#top-section {
  // background: url(../images/topbg.jpg) no-repeat;
  max-width: 1440px;
  width: 100%;
  height: 832px;
  background-size: cover;
  .top-title {
    text-align: center;
    h1 {
      font-weight: bold;
      font-size: 48px;
      line-height: 59px;
      color: #000000;
      margin-bottom: 18px;
    }
    p {
      font-weight: normal;
      font-size: 18px;
      line-height: 140%;
      color: #000000;
      max-width: 621px;
      margin: 0 auto;
    }
  }

  header {
    padding: 25px 140px 0 140px;
    margin-bottom: 105px;
    nav {
      .list {
      }
      ul {
        li {
          margin-right: 40px;
          a {
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
          }
        }
      }
      .daily {
        margin-right: 40px;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
      }
      .phone-num {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-align: right;
        color: #000000;
      }
    }
  }
}
section#basket {
  .basket-right {
    text-align: right;
    position: relative;

    .inner-basket {
        display: none;
      position: absolute;
      right: 20px;
      padding: 30px;
      z-index: 2;
      background: #ffffff;
      border: 2px solid #eceef7;
      box-sizing: border-box;
      border-radius: 15px;
      h4 {
        text-align: left;
        margin-bottom: 40px;
      }
      .basket-item {
        .basket-item-name {
          text-align: left;
          max-width: 143px;
          font-size: 14px;
          margin-bottom: 8px;
        }
        .basket-item-size {
          text-align: left;
          font-size: 14px;
        }
        .basket-item-price {
          font-size: 20px;
          font-weight: 600;
          line-height: 57px;
          margin-left: auto;
        }
      }
      .bottom-details {
        .checkout-btn {
          background: #fc4c4c;
          border-radius: 14px;
          font-weight: bold;
          font-size: 20px;
          line-height: 23px;
          color: #ffffff;
          padding: 19px 125px;
          cursor: pointer;
        }
      }
    }
    .basket-icon {
      cursor: pointer;
      width: 44px;
      height: 44px;
      box-shadow: -1px 0px 13px -1px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: -1px 0px 13px -1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: -1px 0px 13px -1px rgba(0, 0, 0, 0.75);
      padding: 10px;
      border-radius: 50%;
      margin-left: auto;
      margin-right: 120px;
      margin-top: 20px;
      img {
        width: 100%;
      }
    }
  }
}

section#items {
  .items-title {
    margin-bottom: 90px;
    h1 {
      font-weight: bold;
      font-size: 48px;
      line-height: 59px;
      text-align: center;
      color: #000000;
    }
  }
  .product {
    padding: 0 20px;
    margin-bottom: 44px;

    .item {
      position: relative;
      border-radius: 15px;
      background: #ffffff;
      border: 2px solid #eceef7;
      cursor: pointer;
      min-width: 226px;
      min-height: 300px;
      &:hover {
        .item-bottom-icon {
          transform: scale(1.5);
          background: linear-gradient(287.74deg, #f58656 8.52%, #fe5626 92.72%),
            linear-gradient(180deg, #fe5626 0%, #f23f0e 100%), #59aaf1 !important;
          box-shadow: 0px 4px 8px rgba(205, 71, 41, 0.26);
          img {
            filter: brightness(5);
          }
        }
      }
      & * {
        cursor: pointer;
      }
      .overlay {
        display: none;
        top: 11px;
        position: absolute;
        background: #ffffffe0;
        width: 100%;
        height: 85%;
        .sizes {
          padding: 10px 15px;
        }
        h4,
        .small,
        .medium,
        .big {
          margin-bottom: 10px;
        }
        .add-to-basket-btn {
          cursor: pointer;
          margin-top: 20px;
          background: linear-gradient(
              116.88deg,
              #fe3326 -4.28%,
              #f26e0e 112.69%
            ),
            #59aaf1;
          box-shadow: 0px 4px 8px rgba(205, 71, 41, 0.26);
          border-radius: 3px;
          font-weight: 600;
          font-size: 12px;
          line-height: 140%;
          padding: 5px 20px;
          text-align: center;
          color: #ffffff;
        }
      }
      .item-img {
        padding: 8px;
        width: 170px;
        height: 173px;
        margin: 0 auto;
        img {
          width: 100%;
        }
      }
      .item-details {
        max-width: 220px;
        padding: 0 25px;
        .item-name {
          font-weight: 600;
          font-size: 16px;
          line-height: 140%;
          color: #000000;
          margin-bottom: 8px;
        }
        .item-ingredients {
          font-weight: normal;
          font-size: 12px;
          line-height: 140%;
          line-break: anywhere;
          color: #000000;
          margin-bottom: 19px;
        }
        .item-price {
          font-weight: 300;
          font-size: 24px;
          line-height: 140%;
          text-align: center;
          color: #121146;
        }
        .item-bottom-icon {
          transition: all 0.5s;
          width: 30px;
          height: 30px;
          padding: 6px;
          border: 2px solid #eceef6;
          border-radius: 50%;
          position: absolute;
          left: 46%;
          top: 99%;
          background: #fff;
          img {
            transition: all 0.5s;
            width: 100%;
          }
        }
      }

      .item-bottom-rectangle {
        width: 100px;
        height: 100px;
        border-radius: 15px;
        position: absolute;
        bottom: -18px;
        transform: rotate(45deg);
        background: #ffffff;
        border: 2px solid #eceef7;
        left: 30%;
        z-index: -1;
      }
    }
  }
}
.active{
    display: block!important;
}